@import url(general.css);
@import url(header.css);
@import url(footer.css);
@import url(button.css);
@import url(form.css);

#enviarMail{
   opacity: 0;
}
.warnings{
   width: 200px;
   text-align: center;
   margin: auto;
   color: orange;
   padding-top: 20px;
}
