h2, h4 {
    color: #f0a500;
}

form{
    border-radius: 5px;
    color: grey;
    font-size: 1.4em;
    padding: 20px;
    margin: 0 auto;
    width: 30%;
}

input, textarea{
    border: 0;
    outline: none;
    width: 100%;
}

h2{
    text-align: center;
}

.field{
    border: solid 1px #ccc;
    padding: 10px;
}

.field:focus{
    border-color: orange;
}

.center-content{
    text-align: center;
}

.btn-form{
    padding: 20px 15px;
    font-size: 0.8em;
    color: orange;
}

