@import url(general.css);

header{
    width: 100%;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: orange;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

header nav .logo img{
    width: 10vw;
    cursor: pointer;
    margin: 7px 0;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    margin: 0 2vw;
}

header nav ul li a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

header nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: orangered;
    display: block;
    transition: 0.2s linear;
}

header nav ul li a:hover::after{
    width: 100%;
}

header nav ul li a:hover{
    color: orangered;
}

header nav .icon i{
    font-size: 1.2rem;
    color: white;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

header nav .icon i:hover{
    color: orangered;
}

.logo:hover{
    animation-name: moverse;
    animation-duration: 2s;  
    animation-iteration-count: infinite;

}

@keyframes moverse {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}

/* .panel{
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 60%;
    right: 0;
    width: 40%;
    background-color: rgba(255, 165, 0, 0.8);
    transition: transform 0.3s ease;
    transform: translate(100%, 0);
}

.panel.is-active{
    transform: translate(0,0);
}

.panel-btn{
    position: fixed;
    z-index: 999;
    top: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

.menu{
    padding: 20% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu a{
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    transition: all o.3s ease;
}

.menu a:hover{
    font-weight: bold;
    color: white;
    background-color: orangered;
}

.busqueda{
    z-index: 999;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

@media (max-width: 576px) {
    
    header nav ul li{
        margin: 0 0.5vw;
    }

    header nav ul li a{
        font-weight: 250;
        font-size: 0.9rem;
    }

    header nav .icon i{
        display: none;
    }

    header nav .logo img{
        width: 5vw;
    }
}