*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

header{
    background-color: black;
    color: white;
    width: 100%;
}

.nav{
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    height: max-content;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

.card_destacado{
    width: 50%;
}

.sobre_nosotros{
    width: 50%;
}

.card_masbuscados{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 5em;
    text-align: center;
}

h3{
    font-family: 'Sacramento', cursive;
    font-size: 3em;
}

.redes_sociales{
    color: white;
}

.imagen_destacada{
    width: 50%;
    height: 50%;
}

.imagen{
    width: 50%;
    height: 50%;
}

.card_contenido{
    display: flex;
    flex-direction: row;
}

