@import url(footer.css);
@import url(general.css);
@import url(header.css);

section .main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 15vh;
}

section .main .men_text{
    width: 60vw;
}

section .main .men_text h1{
    font-size: 4rem;
    position: relative;
    left: 3vw;
    bottom: 20vh;

}

section .main .men_text h1 span{
    margin-left: 15px;
    color: orange;
    font-family: 'Shadows Into Light', cursive;
    line-height: 22px;
    font-size: 5rem;
}

section .main .main_image img{
    width: 60vw;
    position: relative;
}

section p{
    width: 30vw;
    text-align: justify;
    position: relative;
    left: 5vw;
    bottom: 23vh;
    line-height: 1.5rem;
}

section .main_btn{
    background: orange;
    position: relative;
    left: 5vw;
    bottom: 20vh;
    width: 15vw;
    cursor: pointer;
    padding: 1vw;
}

section .main_btn a{
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

section .main_btn i{
    color: white;
    transition: 0.3s;
}

section .main_btn:hover i{
    transform: translateX(7px);
}

.proyectos{
    width: 100%;
    padding: 15vh 2vw;
}

.proyectos h1{
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.proyectos h1 span{
    color: orange;
    margin-right: 15px;
    font-family: 'Shadows Into Light', cursive;
}

.proyectos .menu_box{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.proyectos .menu_box .menu_card{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.proyectos .menu_box .menu_card .menu_image{
    width: 100%;
    height: 30vh;
    margin: 0 auto;
    overflow: hidden;
}

.proyectos .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.proyectos .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.proyectos .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.proyectos .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.proyectos .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

.proyectos .menu_box .menu_card .small_card i:hover{
    color: orange;
}

.proyectos .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: orange;
}

.proyectos .menu_box .menu_card .menu_info p{
    text-align: justify;
    margin-top: 8px;
    line-height: 21px;
    overflow: hidden;
}

.proyectos .menu_box .menu_card .menu_info .menu_icon{
    color: orange;
    text-align: center;
    margin: 10px 0 20px 0;
}

.proyectos .menu_box .menu_card .menu_info .recetas_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: orangered;
    width: 80%;
    padding: 1vw 1vh;
    margin: 0 4vh;
    transition: 0.3s;
}

.sobre_nosotros{
    width: 100%;
    padding: 20vh 0;
}

.sobre_nosotros .sobre_nosotros_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sobre_nosotros .sobre_nosotros_main .image img{
    width: 20vw;
    position: relative;
}

.sobre_nosotros .sobre_nosotros_main .sobre_nosotros_text{
    width: 60vw;
}

.sobre_nosotros .sobre_nosotros_main .sobre_nosotros_text h1 span{
    color: orange;
    margin-left: 15px;
    font-family: 'Shadows Into Light', cursive;
}

.sobre_nosotros .sobre_nosotros_main .sobre_nosotros_text h1{
    font-size: 4rem;
    position: relative;
}

.sobre_nosotros .sobre_nosotros_main .sobre_nosotros_text h3{
    font-size: 2.5rem;
}

.sobre_nosotros .sobre_nosotros_main .sobre_nosotros_text p{
    width: 50vw;
    text-align: justify;
    margin-right: 10vw;
    line-height: 1.5rem;
    padding: 5vh 0;
}

.sobre_nosotros .sobre_nosotros_main .sobre_nosotros_text .sobre_nosotros_btn{
    background: orange;
    padding: 1vw;
    text-decoration: none;
    color: white;
}

.contacto{
    width: 100%;
    padding: 15vh 0;
}

.contacto h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 4rem;
}

.contacto span{
    color: orange;
    margin-right: 15px;
    font-family: 'Shadows Into Light', cursive;
}

.contacto .contacto_main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto .contacto_main .contacto_image img{
    width: 30vw;
}

.contacto .contacto_main form{
    padding: 20px;
    width: 50vw;
}

.contacto .contacto_main form .grupo h3{
    line-height: 25px;
    padding: 10px;
    color: black;
}

.contacto .contacto_main form .grupo{
    margin: 5px;
}

.contacto .contacto_main form .grupo input{
    width: 500px;
    height: 40px;
    padding: 10px 10px;
    border: 2px solid #cccccc;
    background: rgba(255, 255, 255, 0.4);
    outline: none;
    border-radius: 3px;
}

.contacto .contacto_main form .grupo textarea{
    width: 500px;
    height: 200px;
    padding: 10px 10px;
    border: 2px solid #cccccc;
    background: rgba(255, 255, 255, 0.4);
    outline: none;
    border-radius: 3px;
}

.contacto .contacto_main form .grupo input:focus{
    border: 2px solid orange;
}

.contacto .contacto_main form .grupo textarea:focus{
    border: 2px solid orange;
}

.contacto .contacto_main form button{
    background: orange;
    width: 20vw;
    padding: 1vw;
    text-decoration: none;
    color: white;
    text-align: center;
}

.google{
    float: right;
}

@media (max-width: 1005px){
    
    section .main .men_text h1{
        font-size: 3rem;
    }
    
    section p{
        width: 50vw;
        left: 10vw;
        bottom: 12vh;
    }
    
    section .main_btn{
        left: 10vw;
        bottom: 7vh;
        width: 12vw;
    }
    
    .receta .menu_box{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .receta{
        padding: 15vh 1vw;
    }

    .sobre_nosotros .sobre_nosotros_main .sobre_nosotros_text h1{
        bottom: 5vh;
    }

    .sobre_nosotros .sobre_nosotros_main .sobre_nosotros_text h3{
        margin: 0 0 5vh 0;
    }

    .sobre_nosotros .sobre_nosotros_main .sobre_nosotros_text p{
        width: 60vw;
        margin-right: 3vw;
    }

    .sobre_nosotros .sobre_nosotros_main .image img{
        width: 30vw;
    }

    .sobre_nosotros .sobre_nosotros_btn{
        left: 55vh;
    }
}

@media (max-width: 768px) {

    section .main .men_text h1{
        font-size: 2.5rem;
        bottom: 18vh;
    }
    
    section .main .men_text h1 span{
        font-size: 3rem;
    }
    
    section p{
        bottom: 20vh;
        font-size: 0.9rem;
    }
    
    section .main_btn{
        bottom: 18vh;
        width: 18vw;
    }

    .receta h1{
        font-size: 2.5rem;
    }
    
    .receta .menu_box{
        grid-template-columns: 1fr 1fr;
    }

    .sobre_nosotros .sobre_nosotros_main .sobre_nosotros_text h1{
        bottom: 5vh;
    }

    .sobre_nosotros .sobre_nosotros_main .sobre_nosotros_text h3{
        margin: 0 0 5vh 0;
    }

    .sobre_nosotros .sobre_nosotros_main .sobre_nosotros_text p{
        width: 60vw;
        margin-right: 3vw;
    }

    .sobre_nosotros .sobre_nosotros_main .image img{
        width: 30vw;
    }

    .sobre_nosotros .sobre_nosotros_btn{
        left: 55vh;
    }
    
    .contacto h1{
        font-size: 2.5rem;
    }

    .contacto .contacto_main form .grupo input{
        width: 50vw;
    }
    
    .contacto .contacto_main form .grupo textarea{
        width: 50vw;
    }
} 

@media (max-width: 576px) {

    section{
        width: 100vw;
        height: 100vh;
    }

    section .main{
        top: 20vh;
    }

    section .main .men_text{
        width: 80%;
    }

    section .main .men_text h1{
        left: 5vw;
        bottom: 8vh;
    }
    
    section .main .main_image img{
        display: none;
    }
    
    section p{
        width: 80vw;
        top: 15vh;
        font-size: 1rem;
    }
    
    section .main_btn{
        top: 20vh;
        width: 35vw;
        text-align: center;
    }

    .receta{
        padding: 5vh 0;
    }

    .receta .menu_box{
        margin: 0;
        padding: 0 10% ;
        grid-template-columns: 1fr;
    }

    .sobre_nosotros .sobre_nosotros_main .sobre_nosotros_text{
        width: 90vw;
    }
    
    .sobre_nosotros .sobre_nosotros_main .sobre_nosotros_text h1{
        font-size: 3rem;
        bottom: 5vh;
    }

    .sobre_nosotros .sobre_nosotros_main .sobre_nosotros_text h3{
        font-size: 2rem;
    }

    .sobre_nosotros .sobre_nosotros_main .sobre_nosotros_text p{
        width: 90vw;
        margin-right: 3vw;
    }

    .sobre_nosotros .sobre_nosotros_main .image img{
        display: none;
    }

    .contacto{
        width: 100vw;
        padding: 10vh 0;
    }
    
    .contacto h1{
        padding-left: 5vw;
        font-size: 2rem;
    }

    .contacto .contacto_main .contacto_image img{
        display: none;
    }

    .contacto .contacto_main form{
        width: 90vw;
    }

    .contacto .contacto_main form .grupo input{
        width: 80vw;
    }
    
    .contacto .contacto_main form .grupo textarea{
        width: 80vw;
    }
} 