@import url(button.css);
@import url(footer.css);
@import url(general.css);
@import url(header.css);

body{ 
    background-image: url(../img/fondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    margin-bottom: 5%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.card_destacado{
    padding: 20px 0;
    height: 100%;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.4);
}

.card_destacado:hover{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, 
                rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.sobre_nosotros{
    height: 100%;
    width: 50%;
    padding: 10px 0;
}

.card_masbuscados{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.3);
}

h1{
    font-size: 2em;
}

h3{
    font-size: 2em;
}

.imagen_destacada{
    height: 40%;
    width: 30%;
}

.imagen{
    height: 50%;
    width: 35%;
}

.card_contenido{
    display: flex;
    flex-direction: row;
}

.description{
    padding: 10px;
    text-align: justify;
}

.card_masbuscados > .mas_buscado{
    padding: 20px 0;
    width: 30vw;
}

.btn_inicio{
    background-color: orangered;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    float: right;   
}

@media (max-width: 960px){
    main{
        margin-top: 5%;
        margin-bottom: 20%;
    }

    .mas_buscado .card_contenido{
        display: block;
    }
    
    .imagen{
        padding: 10px;
        height: 50%;
        width: 75%;
    }
}

@media (max-width: 650px) {
    main{
        margin-top: 5%;
        margin-bottom: 20%;
    }

    .imagen_destacada{
        height: 60%;
        width: 75%;
    }
    
    .imagen{
        height: 50%;
        width: 50%;
    }

    .card_contenido{
        display: block;
    }

    .card_masbuscados{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 10px 0px;
    }
    
    .card_masbuscados > .mas_buscado{
        width: 100%;
    }

    .card_destacado{
        padding: 30px 0px;
        width: 100%;
        height: 100%;
    }

    .sobre_nosotros{
        width: 100%;
        height: 100%;
        display: block;
        padding: 30px 0px;
    }
}