h1{
    text-align: center;
}

header{
    background-color: black;
    color: white;
    padding: 5px;
}

.nav{
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.card_masbuscados{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mas_buscado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    font-family: 'Sacramento', cursive;
    font-size: 3em;
}