<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca De</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/daf7d56fd5.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <a class="nav" href="/templates/index.html">Home</a>
            <a class="nav" href="#">Acerca de</a>
            <a class="nav" href="/templates/contacto.html">Contacto</a>
            <a class="nav" href="/templates/registro.html">Registro</a>
            <a class="nav" href="/templates/sucursales.html">Sucursales</a>
        </nav>
        <h1>Acerca de</h1>
    </header>
    <main>
        <h2>Acerca de</h2>
        <img src="/img/Cocina.webp" alt="Nosotros" width="500" height="300">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus molestiae incidunt quibusdam laborum cumque expedita, numquam debitis voluptatum nulla minima ad sint nesciunt fugiat possimus optio eaque itaque vero nihil, iure asperiores qui quos nobis minus veniam! Veniam provident itaque explicabo rerum perspiciatis dolorum repellat numquam magni! Dolor eaque harum error recusandae magni ipsam, nostrum modi esse dolore consequuntur blanditiis officia totam, et quidem quos, consectetur molestiae. Totam recusandae mollitia magni in sint maxime illo quod assumenda aut doloribus voluptate illum culpa, blanditiis ipsum molestias tempore perferendis eveniet repellendus modi. Voluptate, quaerat sit quisquam incidunt quos quod tempora nobis ipsam.</p>
    </main>
    <footer>
        <br>
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://wa.me/5491134567890" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        <p style>Derechos Reservados (c) 2022</p>
        <br>
    </footer>
</body>
</html>