<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-16">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contacto</title>
        <link rel="stylesheet" href="/css/contacto.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&family=Nunito" rel="stylesheet">
        <script src="https://kit.fontawesome.com/daf7d56fd5.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <a href="#" class="home"><img src="/img/Logo recetas.png" class="logo" alt="recetas"></a>
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn"><i class="fa-solid fa-bars"></i></label>
                <div class="menu">
                    <a class="btn" href="/templates/index.html">Home</a>
                    <a class="btn" href="/templates/registro.html">Registro</a>
                    <a class="btn" href="/templates/cargar_receta.html">Subir Receta</a>
                </div>
            </nav>
        </header>
    <main>
        <h2>Contacto</h2>
        <form action="" method="POST" id="form" target="_blank">
            <p>Nombre:</p>
            <input type="text" class="field" id="name" required><br>
            <br><p>Correo electrónico:</p>
            <input type="text" class="field" id="email" required><br>
            <br><p>Asunto:</p>
            <input type="text" class="field"><br>
            <br><p>Mensaje:</p>
            <textarea class="field"></textarea><br>
            <br><p class="center-content"><input type="button" class="btn btn-form" value="Enviar"></p>
            <p class="warnings" id="warnings"></p>
        </form>
        <script src="/js/validacion_form.js"></script>
    </main>
    <footer>
    
        <a class="redes_sociales" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a class="redes_sociales" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a class="redes_sociales" href="https://wa.me/5491134567890" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>

        <p style>Derechos Reservados (c) 2022</p>
        
    </footer>
</body>
</html>