<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-16">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recetazos - Contacto</title>
        <link rel="stylesheet" href="/css/contacto.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&family=Nunito" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.min.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/daf7d56fd5.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <a href="/templates/index.html" class="home"><img src="/img/Logo recetas.png" class="logo" alt="recetas"></a>
            <button class="panel-btn hamburger hamburger--vortex" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <aside class="panel">
                <nav class="menu">
                    <a href="/templates/index.html">Home</a>
                    <a href="/templates/registro.html">Registro</a>
                    <a href="/templates/contacto.html">Contacto</a>
                    <!-- <div class="busqueda">
                        <input class="busqueda" type="search" name="buscar_receta" id="buscar_receta" placeholder="Buscar receta">
                        <button class="btn" type="submit">Buscar</button>
                    </div> -->
                </nav>
            </aside>
        </header>
    <main>
        <h2>Contacto</h2>
        <form class="form" action="" id="form">
            <label for="name">Nombre y Apellido</label>
            <input type="text" class="field" name="name" id="name" placeholder="Ingrese su Nombre y Apellido" required><span class="barra"></span>
            <label for="email">Correo electrónico</label>
            <input type="text" class="field" name="email" id="email" placeholder="Ingrese su email aqui" required><span class="barra"></span>
            <label for="asunto">Asunto</label>
            <input type="text" class="field" id="Asunto" required><span class="barra"></span>
            <label for="message">Mensaje</label>
            <textarea class="field" id="message" cols="30" rows="10" required></textarea><br>
            <br><button type="submit" class="btn primary full">Enviar</button>
            <p class="warnings" id="warnings"></p>
            </div>
        </form>
        <a href="mailto:juanmanuelmerlo@gmail.com" id="enviarMail">mail</a>
    </main>
    <footer>
    
        <a class="redes_sociales" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a class="redes_sociales" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a class="redes_sociales" href="https://wa.me/5491134567890" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>

        <p style>Derechos Reservados (c) 2022</p>
        
    </footer>
    <script src="/js/index.js" type="module"></script>
</body>
</html>