<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La cocina de Juan</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento" rel="stylesheet">
    <script src="https://kit.fontawesome.com/daf7d56fd5.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>La cocina de Juan</h1>
        <nav>
            <a class="nav" href="#">Home</a>
            <a class="nav" href="/templates/acercaDe.html">Sobre nosotros</a>
            <a class="nav" href="/templates/registro.html">Registro</a>
        </nav>
    </header>
    <main>
        <br>
        <input type="search" name="buscar_receta" id="buscar_receta" placeholder="Buscar receta">
        <button type="submit">Buscar</button>
        <br><br>
        <h2>Receta Destacada</h2>
        <div class="card_destacado" style="width: 36rem;">
            <h3>Bizcochuelo</h3>
            <img src="/img/bizcochuelo-casero2ok.jpg" alt="Bizcochuelo">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, nisi.</p>
            <br>
            <a class="nav" href="/templates/receta.html">Ver Receta</a>
        </div>
        <br>
        <h2>Recetas más buscadas</h2>
        <div class="card_masbuscados" style="width: 18rem;">
            <div class="mas_buscado">
                <h3>Bizcochuelo</h3>
                <img src="/img/bizcochuelo-casero2ok.jpg" alt="Bizcochuelo" width="1em" height="1em">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, labore?</p>
                <br>
                <a class="nav" href="/templates/receta.html">Ver Receta</a>
            </div>
            <div class="mas_buscado">
                <h3>Bizcochuelo</h3>
                <img src="/img/bizcochuelo-casero2ok.jpg" alt="Bizcochuelo" width="1em" height="1em">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, labore?</p>
                <br>
                <a class="nav" href="/templates/receta.html">Ver Receta</a>
            </div>
            <div class="mas_buscado">
                <h3>Bizcochuelo</h3>
                <img src="/img/bizcochuelo-casero2ok.jpg" alt="Bizcochuelo" width="10em" height="10em">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, labore?</p>
                <br>
                <a class="nav" href="/templates/receta.html">Ver Receta</a>
            </div>
        </div>
        <br>
        <div class="sobre_nosotros" style="width: 18 rem;">
            <h3>Sobre nosotros</h3>
            <img src="/img/Cocina.webp" alt="cocina">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus voluptatibus tempore ipsum a architecto modi, temporibus consectetur nobis quod quibusdam?</p>
            <br>
            <a class="nav" href="/templates/contacto.html">Contactenos</a>
        </div>
    </main>
    <footer>
        <br>
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://wa.me/5491134567890" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        <p style>Derechos Reservados (c) 2022</p>
        <br>
    </footer>
</body>
</html>