<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetazos</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&family=Nunito" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/daf7d56fd5.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="#" class="home"><img src="/img/Logo recetas.png" class="logo" alt="recetas"></a>
        <button class="panel-btn hamburger hamburger--vortex" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <aside class="panel">
            <nav class="menu">
                <a href="#">Home</a>
                <a href="/templates/registro.html">Registro</a>
                <a href="/templates/contacto.html">Contacto</a>
                <!-- <div class="busqueda">
                    <input class="busqueda" type="search" name="buscar_receta" id="buscar_receta" placeholder="Buscar receta">
                    <button class="btn" type="submit">Buscar</button>
                </div> -->
            </nav>
        </aside>
    </header>
    <div id="ruth">
        <main>
            <h2>Receta Destacada</h2>
            <div class="slider">
                <div class="slider-slides">
                    <!-- <div class="slider-slide active">
                        <img src="https://placeimg.com/400/400/people" alt="people">
                    </div>
                    <div class="slider-slide">
                        <img src="https://placeimg.com/400/400/animals" alt="animals">
                    </div>
                    <div class="slider-slide">
                        <img src="https://placeimg.com/400/400/tech" alt="tech">
                    </div>
                    <div class="slider-slide">
                        <img src="https://placeimg.com/400/400/nature" alt="nature">
                    </div> -->
                    <div v-for="receta in listaReceta">
                        <!-- <div v-if="receta.id == 1" class="slider-slide active">
                            <a class="receta" href="/templates/receta.html"><h3>{{receta.title}}</h3></a>
                            <img class="img" :src="receta.photoUrl" :alt="receta.title">
                        </div> -->
                        <div class="slider-slide active">
                            <a class="receta" href="/templates/receta.html"><h3>{{receta.title}}</h3></a>
                            <img class="img" :src="receta.photoUrl" :alt="receta.title">
                        </div>
                    </div>
                </div>
                <div class="slider-btns">
                    <a class="prev" href="#">&laquo;</a>
                    <a class="next" href="#">&raquo;</a>
                </div>
            </div>
            <div class="clearfix"></div><div class="clearfix"></div>
            <h2>Recetas más buscadas</h2>
            <div class="clearfix"></div>
            <div class="card_masbuscados">
                <div v-for="receta in listaReceta" class="mas_buscado">
                    <div v-if="receta.course">
                        <h3>{{receta.title}}</h3>
                        <div class="card_contenido">
                            <img class="imagen" :src="receta.photoUrl" :alt="receta.title">
                            <div class="description">
                                <p>{{receta.ingredients}}</p>
                                <br>
                                <a class="btn" href="/templates/receta.html">Ver Receta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sobre_nosotros">
                <h2>Sobre nosotros</h2>
                <div class="card_contenido">
                    <div class="description">
                        <p>Somos un grupo de personas apasionadas por la cocina y queremos formar un comunidad donde podamos compartir nuestras recetas.</p>
                        <br>
                        <a class="btn" href="/templates/contacto.html">Contactenos</a>
                    </div>
                </div>
            </div>
            <div class="btn_inicio">
                <span>
                    <a href="#top"><i class="fa-solid fa-circle-up"></i></a>
                </span>
            </div>
        </main>
    </div>
    
    <footer>
        
        <a class="redes_sociales" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a class="redes_sociales" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a class="redes_sociales" href="https://wa.me/5491134567890" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        
        <p style>Derechos Reservados (c) 2022</p>
        
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="/js/index.js" type="module"></script>
    <script src="/js/api.js"></script>
</body>
</html>