<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetazos</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/img/icono.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&family=Nunito" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/daf7d56fd5.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/img/Logo recetas.png" alt="Recetazos">
            </div>
            <ul>
                <li><a ref="#home">Home</a> </li>
                <li><a ref="#recetas">Recetas</a></li>
                <li><a ref="#sobre_nosotros">Sobre Nosotros</a></li>
                <li><a ref="#contacto">Contacto</a></li>
            </ul>

            <div class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-earth-americas"></i>
            </div>
        </nav>
        <!-- <button class="panel-btn hamburger hamburger--vortex" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button> -->
        <div id="google_translate_element" class="google"></div>
        <!-- <aside class="panel">
            <nav class="menu">
                <a href="#">Home</a>
                <a href="/templates/registro.html">Registro</a>
                <a href="/templates/contacto.html">Contacto</a>
                <div class="busqueda">
                    <input class="busqueda" type="search" name="buscar_receta" id="buscar_receta" placeholder="Buscar receta">
                    <button class="btn" type="submit">Buscar</button>
                </div>
            </nav>
        </aside> -->
    </header>
    <main>
        <div class="main">
            <div class="men_text">
                <h1>Disfruta y <span>Comparte</span><br>el arte del buen comer</h1>
            </div>

            <div class="main_image">
                <img src="/img/img_index.png" alt="Imagen_main">
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptate corrupti atque 
            quis architecto tempora cum quidem cupiditate, consequatur totam ducimus in recusandae ullam 
            blanditiis natus accusamus eius minima debitis a facere incidunt iure magnam facilis. Voluptates 
            voluptatibus, doloribus praesentium, magni doloremque necessitatibus dolorum repudiandae 
            consequuntur in odio officia obcaecati.
        </p>

        <div class="main_btn">
            <a href="#">Ver Mas</a>
            <i class="fa-solid fa-angle-right"></i>
        </div>
            <!-- <h2>Receta Destacada</h2>
            <div class="slider">
                <div class="slider-slides">
                    <div v-for="receta in listaReceta">
                        <div class="slider-slide active" id="receta">
                            <a class="receta" href="/templates/receta.html" :data-id="receta.id"><h3>{{receta.title}}</h3></a>
                            <img class="img" :src="receta.photoUrl" :alt="receta.title">
                        </div>
                    </div>
                </div>
                <div class="slider-btns">
                    <a class="prev" href="#">&laquo;</a>
                    <a class="next" href="#">&raquo;</a>
                </div>
            </div>
            <div class="clearfix"></div><div class="clearfix"></div>
            <h2>Recetas más buscadas</h2>
            <div class="clearfix"></div>
            <div class="card_masbuscados">
                <div v-for="receta in listaReceta" class="mas_buscado">
                    <div v-if="receta.course">
                        <h3>{{receta.title}}</h3>
                        <div class="card_contenido">
                            <img class="imagen" :src="receta.photoUrl" :alt="receta.title">
                            <div class="description">
                                <p>{{receta.description}}</p>
                                <br>
                                <a class="btn" href="/templates/receta.html">Ver Receta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sobre_nosotros">
                <h2>Sobre nosotros</h2>
                <div class="card_contenido">
                    <div class="description">
                        <p>Somos un grupo de personas apasionadas por la cocina y queremos formar un comunidad donde podamos compartir nuestras recetas.</p>
                        <br>
                        <a class="btn" href="/templates/contacto.html">Contactenos</a>
                    </div>
                </div>
            </div>
            <div class="btn_inicio">
                <span>
                    <a href="#top"><i class="fa-solid fa-circle-up"></i></a>
                </span>
            </div> -->
    </main>
    
    <footer>
        
        <a class="redes_sociales" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a class="redes_sociales" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a class="redes_sociales" href="https://wa.me/5491134567890" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        
        <p style>Derechos Reservados (c) 2022</p>
        
    </footer>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'es,ca,eu,gl,fr,it,pt,de', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true}, 'google_translate_element');
        }
    </script>
        
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="/js/index.js" type="module"></script>
    <script src="/js/api.js"></script>
</body>
</html>