<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-16">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recetazos - Receta</title>
        <link rel="stylesheet" href="/css/receta.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&family=Nunito" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.min.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/daf7d56fd5.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <a href="/templates/index.html" class="home"><img src="/img/Logo recetas.png" class="logo" alt="recetas"></a>
            <button class="panel-btn hamburger hamburger--vortex" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <aside class="panel">
                <nav class="menu">
                    <a href="/templates/index.html">Home</a>
                    <a href="/templates/registro.html">Registro</a>
                    <a href="/templates/contacto.html">Contacto</a>
                    <!-- <div class="busqueda">
                        <input class="busqueda" type="search" name="buscar_receta" id="buscar_receta" placeholder="Buscar receta">
                        <button class="btn" type="submit">Buscar</button>
                    </div> -->
                </nav>
            </aside>
        </header>
    <main>
        <h2>{{receta.title}}</h2>
        <img src="/img/bizcochuelo-casero2ok.jpg" alt="Bizcochuelo" width="500" height="300">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, nemo totam. Dignissimos numquam facere repellendus eos quaerat ab rerum voluptate fugit inventore architecto deserunt, ex sint minus laborum eaque repellat impedit ullam! Hic, ipsum amet? Deleniti aperiam consequuntur, rerum nostrum eum perferendis asperiores laboriosam praesentium quasi saepe tempore earum est voluptatem repellat libero doloribus iure sapiente fuga sed voluptate minima animi ipsum nisi sit! Iusto sequi expedita officia placeat rerum ducimus odio nihil temporibus! Fugit quos neque, libero excepturi quas odio assumenda ipsum consectetur, explicabo veniam voluptate et. Delectus qui officia nemo nihil eligendi in. Neque delectus necessitatibus at possimus?</p>
        <h3>Ingredientes</h3>
        <table>
            <tr>
                <th>Cant</th>
                <th>Productos</th>
            </tr>
            <tr>
                <td>3 un</td>
                <td>Huevos</td>
            </tr>
            <tr>
                <td>1 taza</td>
                <td>Azúcar</td>
            </tr>
            <tr>
                <td>1 taza</td>
                <td>Aceite</td>
            </tr>
            <tr>
                <td>2 tazas</td>
                <td>Harina 0000</td>
            </tr>
            <tr>
                <td>1 cdita</td>
                <td>Plovo para hornear</td>
            </tr>
            <tr>
                <td>Cant Nec</td>
                <td>Esencia de vainilla</td>
            </tr>
        </table>
        <h3>
            Paso a paso
        </h3>
        <p style="text-align:justify ;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere libero, ratione voluptatibus assumenda porro odit modi ab, soluta optio deleniti nisi harum quos amet accusamus consectetur aliquid culpa id illo ullam possimus voluptate quia beatae sequi reiciendis. Dolorem, tempore aspernatur ab libero, nisi impedit aut, iusto et numquam nulla voluptas totam id. Totam esse consectetur voluptatem temporibus soluta quibusdam, laborum rerum nemo libero molestias obcaecati debitis et, atque beatae eos repellendus. Recusandae odio aliquid eos ab? Et, doloremque ad veniam unde inventore optio deleniti amet explicabo eligendi facere culpa ut nobis sequi officia voluptatum at reiciendis modi consequuntur. Exercitationem, iste.</p>
        <h3>
            A tener en cuenta
        </h3>
        <ul>
            <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus dolorum unde assumenda culpa ad provident magni inventore accusamus obcaecati omnis fugit voluptas doloremque, quis animi quia. Commodi pariatur a iste.
            </li>
        </ul>
    </main>
    <footer>
    
        <a class="redes_sociales" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a class="redes_sociales" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a class="redes_sociales" href="https://wa.me/5491134567890" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>

        <p style>Derechos Reservados (c) 2022</p>
        
    </footer>
    <script src="/js/index.js" type="module"></script>
</body>
</html>