<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/registro.css">
    <script src="https://kit.fontawesome.com/daf7d56fd5.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Recipe</h1>
        <nav>
            <a class="btn" href="index.html">Home</a>
            <a class="btn" href="/templates/contacto.html">Contacto</a>
        </nav>
    </header>
    <main>
        <h2>Registrarse</h2>
        <br><br>
        <form action="/templates/show_data.html" target="_blank">
            <label for="nombre">Nombre</label> <br>
            <input type="text" class="field" name="nombre" placeholder="Ingrese su Nombre aqui"> <br><br>
            <label for="apellido">Apellido</label> <br>
            <input type="text" class="field" name="apellido" placeholder="Ingrese su Apellido aqui"> <br><br>
            <label for="nombre_usuario">Nombre de Usuario</label> <br>
            <input type="text" class="field" name="nombre_usuario" placeholder="Ingrese su Usuario aqui"> <br><br>
            <label for="ciudad">Ciudad</label> <br>
            <input type="text" class="field" name="ciudad" value="San Fernando del Valle de Catamarca"> <br><br>
            <label for="pais">Pais</label> <br>
            <input type="text" class="field" name="pais" placeholder="Ingrese su Pais aqui"> <br><br>
            <label for="fec_nac">Fecha de Nacimiento</label> <br>
            <input type="date" class="field" name="fec_nac"> <br><br>
            <br><p class="center-content"><input type="submit" class="btn btn-form" value="Enviar"></p>
        </form>
    </main>
    <footer>
        <br>
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://wa.me/5491134567890" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        <p style>Derechos Reservados (c) 2022</p>
        <br>
    </footer>
</body>
</html>